@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 33, 33);
    background-image: url(../images/wallpaper.jpg);
    background-size: cover;
    background-position: center center;
    backdrop-filter: blur(3px);
}

#container {
    transition: all 0.2s linear;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(11, 11, 11);
    padding: 20px;
    border-radius: 5px;
    color: whitesmoke;
    box-shadow: 0 0 15px 7px rgba(28, 28, 28, 0.514);
}

h1 {
    transition: all 0.2s linear;
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;
}

form button {
    width: 32px;
    height: 32px;
    gap: 10px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    background-color: whitesmoke;
    border-radius: 5px;
}

form button:hover {
    background-color: rgb(207, 207, 207);
}

input#task-input {
    width: calc(100% - 32px - 10px);
    height: 32px;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
    background-color: transparent;
    color: whitesmoke;
}

input#task-input::placeholder {
    color: rgba(245, 245, 245, 0.65);
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: 5px;
}

.task div {
    height: 100%;
}

.task button.check {
    width: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    height: 30px;
    border-radius: 100%;
    transition: 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task i {
    color: white;
    font-size: 16px;
}

.task h2 {
    font-weight: 500;
    font-size: 1.25em;
}

.check {
    background-color: rgb(3, 200, 78);
}

.check:hover {
    background-color: rgb(2, 158, 62);
}

#footer {
    color: whitesmoke;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.1em;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
}

#footer::after {
    content: "";
    background-color: whitesmoke;
    width: 110px;
    border-radius: 50%;
    margin: auto;
    height: 1.5px;
    transform: scaleX(0);
    transition: 0.2s;
}

#footer:hover::after {
    transform: scaleX(1);
}
